/* RESPONSIVE AREA */

@media only screen and (min-width: 320px) and (max-width: 424px) {

    .header {

        .space .regbutton button {
            font-size: 12px;
        }

        .titlenameheader {

            font-size: 30px;
            letter-spacing: 3px;

            .ordertitle {
                margin-right: -3px;
            }
        }

        .registsection .formreg {
            width: 80%;
            height: 550px;

            left: -50px;

            .applyreg {
                display: flex;

                button {
                    font-size: 13px;
                    width: 70%;
                    margin: 3px;
                }
            }
        }

        .loginsection {

            width: auto;

            .reslogin {
                display: block;

                button {
                    font-size: 12px;
                }
            }

            .loginshow .logoutbtn button {
                hyphens: none;
                font-size: 12px;
                background-color: brown;
            }


            .formlogin {
                position: absolute;
                left: -30px;
                width: 70%;
                height: 350px;
                padding: 20px;
                margin-top: 70px;
                margin-left: 25%;
                margin-right: 25%;
                background-color: white;
                border: 1px solid rgb(176, 176, 176);
                border-radius: 15px;
                box-shadow: 10px 8px 10px rgb(37, 14, 14, 0.7);
                transition: all .5s ease-in-out;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-100%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 15px;

                h3 {
                    margin: 0 0 40px;
                    padding: 0;
                    color: #333;
                    text-align: center;
                    text-transform: uppercase;
                }

                input {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #333;
                    margin-bottom: 20px;
                    border: none;
                    border-radius: 0 !important;
                    border-bottom: 2px solid #333;
                    outline: none;
                    background: transparent;
                }


                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                .input-group {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .applylog {
                        display: flex;

                        button {
                            font-size: 13px;
                            width: 70%;
                            margin: 3px;
                        }
                    }
                }

            }

            &.active::after {
                opacity: 1;
                visibility: visible;
            }

            &:after {
                content: "";
                position: fixed;
                inset: 0;
                background-color: #33333388;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                pointer-events: auto;
                transition: all 0.3s ease-in-out;
            }

            &.active_v2 {
                padding-right: 1px;
                padding-bottom: 2px;
            }
        }

    }


    .section_all .content .movies .movie,
    .section_all .content .favmovies .favmovie {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
    }


}




@media only screen and (min-width: 425px) and (max-width: 767px) {


    .header {

        .space .regbutton button {
            font-size: 12px;
        }

        .titlenameheader {

            font-size: 30px;
            letter-spacing: 3px;

        }

        .registsection .formreg {
            width: 80%;
            height: 550px;

            left: -65px;

            .applyreg {
                display: flex;

                button {
                    font-size: 13px;
                    width: 70%;
                    margin: 3px;
                }
            }
        }

        .loginsection {

            width: auto;

            .reslogin {
                display: block;

                button {
                    font-size: 12px;
                }
            }

            .loginshow .logoutbtn button {
                hyphens: none;
                font-size: 12px;
                background-color: brown;
            }


            .formlogin {
                position: absolute;
                left: -45px;
                width: 70%;
                height: 380px;
                padding: 20px;
                margin-top: 70px;
                margin-left: 25%;
                margin-right: 25%;
                background-color: white;
                border: 1px solid rgb(176, 176, 176);
                border-radius: 15px;
                box-shadow: 10px 8px 10px rgb(37, 14, 14, 0.7);
                transition: all .5s ease-in-out;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-100%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 15px;

                h3 {
                    margin: 0 0 40px;
                    padding: 0;
                    color: #333;
                    text-align: center;
                    text-transform: uppercase;
                }

                input {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #333;
                    margin-bottom: 20px;
                    border: none;
                    border-radius: 0 !important;
                    border-bottom: 2px solid #333;
                    outline: none;
                    background: transparent;
                }


                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                .input-group {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .applylog {
                        display: flex;

                        button {
                            font-size: 13px;
                            width: 70%;
                            margin: 3px;
                        }
                    }
                }

            }

            &.active::after {
                opacity: 1;
                visibility: visible;
            }

            &:after {
                content: "";
                position: fixed;
                inset: 0;
                background-color: #33333388;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                pointer-events: auto;
                transition: all 0.3s ease-in-out;
            }

            &.active_v2 {
                padding-right: 5px;
                padding-bottom: 2px;
            }
        }
    }

    .section_all .content .movies .movie,
    .section_all .content .favmovies .favmovie {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
    }


}




@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .header {

        display: flex;
        align-items: center;
        justify-content: center;

        .space {
            width: auto;
        }

        .titlenameheader {

            font-size: 45px;
            letter-spacing: 6px;
        }

        .registsection .formreg {
            width: 80%;
            height: 550px;

            left: -115px;

            .applyreg {
                display: flex;

                button {
                    font-size: 13px;
                    width: 70%;
                    margin: 3px;
                }
            }
        }

        .loginsection {

            width: auto;

            .reslogin {
                display: block;
            }

            .loginshow .logoutbtn button {
                background-color: brown;
                border: 0;
            }


            .formlogin {
                position: absolute;
                left: -80px;
                width: 70%;
                height: 380px;
                padding: 20px;
                margin-top: 70px;
                margin-left: 25%;
                margin-right: 25%;
                background-color: white;
                border: 1px solid rgb(176, 176, 176);
                border-radius: 15px;
                box-shadow: 10px 8px 10px rgb(37, 14, 14, 0.7);
                transition: all .5s ease-in-out;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-100%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 15px;

                h3 {
                    margin: 0 0 40px;
                    padding: 0;
                    color: #333;
                    text-align: center;
                    text-transform: uppercase;
                }

                input {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #333;
                    margin-bottom: 20px;
                    border: none;
                    border-radius: 0 !important;
                    border-bottom: 2px solid #333;
                    outline: none;
                    background: transparent;
                }


                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                .input-group {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    input {
                        width: 80%;
                        padding: 15px 0;
                    }

                    .applylog {
                        display: flex;

                        button {
                            font-size: 13px;
                            width: 70%;
                            margin: 3px;
                        }
                    }
                }

            }

            &.active::after {
                opacity: 1;
                visibility: visible;
            }

            &:after {
                content: "";
                position: fixed;
                inset: 0;
                background-color: #33333388;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                pointer-events: auto;
                transition: all 0.3s ease-in-out;
            }

            &.active_v2 {
                hyphens: none;
                padding-right: 5px;
                width: 0;
            }
        }
    }

    .section_all .content .movies .movie,
    .section_all .content .favmovies .favmovie {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(var(--columns, 2), minmax(0, 1fr));
    }
}



@media only screen and (min-width: 1023px) and (max-width: 1439px) {


    .header {
        .space {
            .regbutton button {
                font-size: 15px;
            }
        }

        .titlenameheader .ordertitle {
            margin-right: -100px;
        }

        .loginsection {
            width: 33%;
        }
    }

    .section_all .content .movies .movie,
    .section_all .content .favmovies .favmovie {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(var(--columns, 3), minmax(0, 1fr));
    }
}